table,th,td{
    border: 1px solid;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

body{
    background-color: #ffeead;
}

.certificates h1{
    background-color: hsl(235, 100%, 71%);
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
}

.certificates {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: orangered;}

.certificates th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffcc5c;
    color: white;
}
